<section>
    <div class="img-block">
        <div class="img-block__content wrapper padding">
            <h2 class="img-block__title text--white text--bold">{{imageTitle}}</h2>
            <a href="/explore" class="img-block__btn btn btn--brown">{{buttonTitle}}</a>
        </div>
    </div>
</section>