<article class="list-item">
    <a href="/explore">
        <div class="list-item__img" style="background-image: url('/assets/images/{{item.image}}')">
            <figcaption class="list-item__figcaption">{{item.score}}</figcaption>
        </div>
    </a>
        <div class="list-item__body">
            <span class="list-item__title">{{item.name}}</span>
            <p class="list-item__description">{{item.review}}</p>
        </div>
</article>