.welcome {
    background-image: url('/assets/images/kayak-16.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position-x: 30%;

    .welcome__content {
        @include flex-center();
        gap: 10vh;
        max-width: 22.5rem;
        padding: 0 1rem;
        height: 100vh;

        @include screen-large {
            max-width: 30rem;
        }

        .welcome__quote {
            font-size: 2rem;
            color: $neutral-1;
            font-family: 'Raleway';
            font-weight: 300;
            text-shadow: 1px 1px 15px $neutral-5;
            text-align: center;

            @include screen-large {
                font-size: 2.5rem;
            }
        }

        .welcome__logo {
            @include screen-large {
                transform: scale(1.5);
            }
        }

        .welcome__buttons {
            width: 100%;
        }
    }
}