---

pageTitle: Login | Go paddling

title: Login
image: kayak-12.jpg
button: Login

---

{% extends "layouts/authentication.njk" %}

{% block troubleshooting %}
    <a class="auth__link link link--white" href="/register">Don't have an account?</a>
    <a class="auth__link link link--white" href="">Forgot password?</a>
{% endblock %}
    
