// color

$main-1: #77C1C9;
$main-2: #6EB4BC;
$main-3: #609DA3;
$main-4: #4A787D;
$main-5: #243B3D;

$accent-1: #C9A877;
$accent-2: #BC9D6E;
$accent-3: #A38860;
$accent-4: #7D684A;
$accent-5: #3D3324;

$neutral-1: #FFFFFF;
$neutral-2: #EAEAEA;
$neutral-3: #9FABA9;
$neutral-4: #727E7B;
$neutral-5: #495451;
$neutral-6: #E6F4F1;

$red: #A3607B;

$gradient-1: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153, 202, 251, 0.37) 100.2% );

// box-shadow

$box-shadow-1: 0px 0px 8px -5px $main-5;
$box-shadow-2: 0px 0px 5px -5px $main-5;

// border-radius

$border-radius-1: 25px;


// spacing

$spacer-0: 0;
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 1rem;
$spacer-4: 1.5rem;
$spacer-5: 2rem;
$spacer-6: 2.5rem;

$spacer-7: 3rem;
$spacer-8: 4rem;
$spacer-9: 5rem;
$spacer-10: 6rem;
$spacer-11: 7rem;
$spacer-12: 8rem;

